<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheet  %}
    {% endblock %}
    {% block title %}<title>Home</title>{% endblock %}
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" />
        <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
</head> 
<body>
    
    <!-- <nav>
        <ul>
            <li><a href="?c=index&t=index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>-->
    
    {% block body %}
    {% endblock %}
   
    {% block script %}
    {% endblock %}
</body>
</html>
