{% extends "base.html" %}

{% block stylesheet %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
    }
    input, select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input:focus, select:focus, button:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Création d'un utilisateur</h1>
    <form action="?c=users&t=insert" method="POST">
        <input name="nom" placeholder="Nom">
        <input name="prenom" placeholder="Prénom">
        <select name="ville_id" id="">
          <option value="">--Veuillez choisir une option--</option>
          {% for ville in villes %}
              <option value="{{ ville.id }}">{{ ville.nom }}</option>
          {% endfor %}
        </select>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
 