{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}
{% block title %} <title>home</title>{% endblock %}

{% block body %}
    <h1>Liste des villes</h1> 
    <table>
        {%for ville in villes%}
        <tr>
            <td>{{ville.nom}}</td><td>{{ville.cp}}</td>
        </tr>
        {%endfor%}
    </table>
{% endblock %}


